<li id="sidebar-item-<%=blog.id %>" class="blog-list-item list-group-item"><a href="#/blogs/<%= blog.id %>" class="my-blog-link"><div class="link-content">
  <%= blog.escape('title')%>
</div> </a><span class="badge <%= posts_count %>">Posts: <%=posts_count || 0 %></span>
<li>
