<% if ( (Stumplr.counter % 2) === 0 ) {%>
    <div class="timeline-badge"><a href="#/blogs/<%= post.get('blog_id') %>"><img src="<%= post.escape("blog_picture_url") %>" width="60" height="60" /></a></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <p><%= post.escape("body")%></p>
      </div>
      <div class="timeline-body">
        <div class="timeline-content">
          <h4 class="timeline-title">--<%= post.escape("title")%>   </h4>
        </div>

      </div>
    </div>
<% } else { %>
    <div class="timeline-badge"><a href="#/blogs/<%= post.get('blog_id') %>"><img src="<%= post.escape("blog_picture_url") %>" width="60" height="60" /></a></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <p><%= post.escape("body")%>  </p>
      </div>
      <div class="timeline-body">
        <div class="timeline-content">
          <h4 class="timeline-title">--<%= post.escape("title")%></h4>
        </div>
      </div>
    </div>
<% } %>
