<!-- Modal -->
<div class="modal fade link-modal" id="<%= modalId %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="panel panel-default panel-post-show  search-item-show row">
      <div class="panel-body">


        <ul class="nav nav-pills">

          <a class="navigate-link" href="#/blogs/<%= link.get("blog_id")%>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        </ul>

        <h4 class="post-title"><%= link.escape('title') %></h4>
        <br>
        <% if (link.get('filepicker_url')) { %>
          <img src="<%=link.get('filepicker_url') %>" class="link-image" />
          <% } %>            <br>
          <label class="post-content"><%= link.escape('body') %></label><br>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
</div>
