<!DOCTYPE html>
<html>
<head>
  <title>Stumplr</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= filepicker_js_include_tag %>
  <script> filepicker.setKey("<%= ENV['filepicker_key'] %>"); </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "layouts/header" %>
<% if flash[:errors] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
     <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
<script>
  <% if current_user %>
    Stumplr.current_user_id = <%= current_user.id %>
  <% end %>
</script>
<%= yield %>
</body>
</html>
